body{
font-family:Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", "monospace";
background-color:sandybrown;
}
#container{
margin:0 auto;
width:100%;
}
#header {
background-color:firebrick;
color:white;
padding:10px;
}
#menu{
float:left;
width:100%;
background-color:chocolate;
}
#menu ul li{
list-style-type:none;
display:inline;
}
#menu li a{
display:block;
text-decoration:none;
border-right:2px solid #ffffff;
padding: 3px 10px;
float: left;
color:#ffffff;
}
#menu li a:hover{
background-color:palevioletred;
}
#mainContainer{
float:left;
width:100%;
}
#content{
clear:left;
float:left;
width:65%;
padding: 20px 0;
margin: 0 0 0 5%;
display: inline;
}
#sidebar {
float:right;
width:30%;
padding: 20px 0;
margin: 0;
display: inline;
background-color:firebrick;
}
#footer {
clear:left;
background-color:peru;
text-align:center;
padding: 20px 0;
height:1%;
}